@media (max-width: 1000px){
    .project-content {
        width: 50%;
        margin-bottom: 50px;
    }

    .body-content {
        height: 900px;
    }

    .logo-about{
        height: 400px;
        width: 650px;
    }
}

@media (max-width: 670px) {
    .project-content {
        width: 100%;
    }    }
    .header-kanan {
        line-height: 15px;
            padding: 0 0;
            font-size: 12px;
    }
    .body-content {
        height: 1400px;
    }

    .logo {
        height: 200px;
        width: 350px;
    }

    .logo-about{
        height: 150px;
        width: 300px;
        padding-top: 70px;
    }

    h1 {
        font-size: 20px;
    }


input, textarea {
    width: 100%;
}
.main {
   
    padding-top: 65px;
} 
.c-title h1 {
    padding-top: 65px;}
} 

.content-title h1 {
    padding-top: 100px;}
} 
